<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lee_A_ChatApp</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>
	<main id="app">
		<header>
            <h1>Socket.io Chat Room</h1>
		</header>

		<section id="username">
            <form>
                <h2>Enter your name.</h2>
                <input v-model="nickName" type="text" id="nickname" class="nickname" placeholder="Anonymous">
                <input @click.prevent="closeUsername" type="submit" value="Continue">
            </form>
        </section>
		
		<section id="messages">
			<ul class="messages" v-for="message in messages">
				<newmessage :msg="message"></newmessage>
			</ul>
        </section>

        <form id="form">
            <input v-model="message" type="text" class="message" autocomplete="off" id="textarea" placeholder="Message">
            <button @click.prevent="dispatchMessage" type="submit"><img src="images/send.svg"></button>
        </form>
	</main>

	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>